body {
   margin: 0;
}

table {
    width: 100%;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

th {
    height: 30px;
	text-transform: uppercase;
	background-color: #3AB54A;
}

tr {
    height: 32px;
    text-align: center;
}

.window {
	width:	1280px;
	height: 720px;
	/*background-color: gray; /* ATTENTION DEV ONLY  */
}

.resumetable {
	width:	600px;
	height: 400px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
	top: 0;
	bottom: 0;
}
.resume {
	background: white;
}

.smalltable {
	width:	1280px;
	background:  rgba(0, 0, 0, 0.9);
	color: white;
}

.small {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
	letter-spacing: -0.2px;
    font-style: normal;
	width: 0;
	padding: 10px;
	/*font-weight: 600;*/
}

.small tr{
	height: 60px;
    vertical-align: top;
}

.small td{
	width: 122px;
}

.gemclogo {
    bottom: 0;
    /* right: 20px; */
    color: white;
    position: absolute;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 20px;
    font-style: normal;
    padding: 20px;
    width: 1240px;
    text-align: right;
    /* height: 80px; */
    /* margin: 20px; */
    background-color: rgba(0, 0, 0, 0.5);
}
	
.eventname {
	display: inline;
}

.timeleft {
	display: inline;
    position: absolute;
    left: 20px;
	font-weight: 600;
}

.pos {
	display: inline;
	background: red;
  border-radius: 5px;
  -moz-border-radius: 5x;
  -webkit-border-radius: 5px;
  color: white;
  display: inline-block;
  margin-right: 3px;
  text-align: center;
  width: 1.6em; 
  padding: 3px;
}

.countdowntimer {
	position: absolute;
    bottom: 100px;
    left: 60px;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: gray;
}
}