body {
   margin: 0;
}

.hide {
	visibility: hidden;
}

.window {
	width:	1280px;
	height: 720px;
	background-color: gray; /* ATTENTION DEV ONLY  */
    background-image: url('assets/background-dev.png');
    position: absolute;
    font-family: 'Lato';
	overflow: hidden;
}

.event {
    position: absolute;
    font-weight: 700;
    color: white;
    background-color: #0E76BD;
    padding:20px;
}

.eventname {
    font-size: 42px;
    margin-bottom: 10px;
    font-family: tahoma;
}

.categoryname {
    font-size: 22px;
}

.live {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}

.live.out {
	-webkit-transition: 3s;
	-moz-transition: 3s;
	-ms-transition: 3s;
	-o-transition: 3s;
	transition: 3s;
	right: -200px !important;
}

.round-time {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.live-table {
  width: 100%; 
}

.cell {
	position: absolute;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	right: 10px;
    width: 150px;
}

.live-table-position0 {
    top: 60px;
}

.live-table-position1 {
    top: 90px;
}

.live-table-position2 {
    top: 120px;
}

.live-table-position3 {
    top: 150px;
}

.live-table-position4 {
    top: 180px;
}

.live-table-position5 {
    top: 210px;
}

.live-table-position6 {
    top: 240px;
}
.live-table-position7 {
    top: 270px;
}

.live-table-position8 {
    top: 300px;
}

.live-table-position9 {
    top: 330px;
}

.live-table-position10 {
    top: 360px;
}

.live-table-position11 {
    top: 390px;
}

.live-table-position12 {
    top: 420px;
}

.resume {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 200px;
    width: 600px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
}

.resume.out {
	-webkit-transition: 3s;
	-moz-transition: 3s;
	-ms-transition: 3s;
	-o-transition: 3s;
	transition: 3s;
	left: -2000px !important;
}

.resume-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px
}

.resume-table {
    width: 100%;
}

.resume-table th {
    text-align: left    ;
}

.inactive {
    color: grey;
}

.next {
	position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}

.next.out {
	-webkit-transition: 3s;
	-moz-transition: 3s;
	-ms-transition: 3s;
	-o-transition: 3s;
	transition: 3s;
	left: -700px !important;
}

.series-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 150px;
}

.series-logo img {
    height: 100%;
}

.driver-color { 
    height: 25px;
    width: 25px;
    border-radius: 0%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background-color:white;
}

.driver-name {
	margin-right: 10px;
}

.color-0 {
    background-color:teal;
}

.color-1 {
    background-color: lawngreen;    
}

.color-2 {
    background-color: orange;
}

.color-3 {
    background-color: aqua;
}

.color-4 {
    background-color: rebeccapurple;
}

.color-5 {
    background-color: fuchsia;
}

.color-6 {
    background-color: orchid;
}

.color-7 {
    background-color: darkred;
}

.color-8 {
    background-color: salmon;
}

.color-9 {
    background-color: palegreen;
}

.color-10 {
    background-color: cornflowerblue;
}

.color-11 {
   background-color: royalblue; 
}